<a href="https://colab.research.google.com/github/Mildredkulei7/Crime-Analysis-/blob/Data-Preprocessing/Data_Preprocessing_Crime_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Overview

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## 1. Defining the Question

### a) Specifying the Data Analytic Question

### b) Defining the Metric for Success

### c) Understanding the context

### d) Recording the Experimental Design

* 1.Defining the question 
* 2.Importing the libraries 
* 3.Reading the data 
* 4.Data preprocessing 
* 5.Exploratory data analysis(Biveriate summaries) 
* 6.Model creation 
* 7.Implementing solution 
* 8.Challenging solution

## 2. Reading the Data

In [ ]:
#Importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
 
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import  accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
from sklearn.metrics.pairwise import cosine_similarity
import heapq
from collections import Counter
from nltk.corpus import stopwords
from nltk.util import ngrams
from sklearn.feature_extraction.text import CountVectorizer
from collections import defaultdict
from collections import  Counter
plt.style.use('ggplot')
import re
from nltk.tokenize import word_tokenize
import gensim
import string
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from tqdm import tqdm
from keras.models import Sequential
from keras.layers import Embedding,LSTM,Dense,SpatialDropout1D
from keras.initializers import Constant
from sklearn.model_selection import train_test_split
from keras.optimizers import Adam
import pandas as pd
import numpy as np
 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix, classification_report
 
import matplotlib.pyplot as plt
 
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.utils import np_utils
from keras.models import Sequential
from keras import layers
from keras.wrappers.scikit_learn import KerasClassifier
 
from sklearn import metrics
import sklearn.metrics as metrics
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.svm import SVC,LinearSVC

#for text pre-processing
import re, string
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import SnowballStemmer
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')
#for model-building
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report, f1_score, accuracy_score, confusion_matrix
from sklearn.metrics import roc_curve, auc, roc_auc_score
# bag of words
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
#for word embedding
import gensim
from gensim.models import Word2Vec

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [ ]:
# Loading the Data from the source i.e. csv
# ---
police_brutality= pd.read_csv('/content/drive/MyDrive/GROUP 2/CSVfiles2/PoliceBrutality-2.csv')

corruption= pd.read_csv('/content/drive/MyDrive/GROUP 2/CSVfiles2/corruption (2).csv')

murder =pd.read_csv('/content/drive/MyDrive/GROUP 2/CSVfiles2/murder-2.csv')

In [ ]:
#checking the top of our dataset

police_brutality.head()

   Unnamed: 0            user  ... hashtags             label
0           0  MuchangiNyaga5  ...       []  police brutality
1           1     jmkariuki24  ...       []  police brutality
2           2  FlavionsKimani  ...       []  police brutality
3           3   nyamu_dickson  ...       []  police brutality
4           4       prings_ke  ...       []  police brutality

[5 rows x 12 columns]

In [ ]:
corruption.head()

   Unnamed: 0            user  ... hashtags       label
0           0        akwala08  ...       []  corruption
1           1       skasande2  ...       []  corruption
2           2   GunnerAfrican  ...       []  corruption
3           3  Kevowinston_ke  ...       []  corruption
4           4      khumsalaba  ...       []  corruption

[5 rows x 12 columns]

In [ ]:
murder.head()

   Unnamed: 0  ...   label
0           0  ...  murder
1           1  ...  murder
2           2  ...  murder
3           3  ...  murder
4           4  ...  murder

[5 rows x 12 columns]

In [ ]:
#checking the tail
police_brutality.tail()

     Unnamed: 0  ...             label
995         995  ...  police brutality
996         996  ...  police brutality
997         997  ...  police brutality
998         998  ...  police brutality
999         999  ...  police brutality

[5 rows x 12 columns]

In [ ]:
corruption.tail()

     Unnamed: 0             user  ... hashtags       label
995         995  ErickOtienoMang  ...       []  corruption
996         996          jeoges2  ...       []  corruption
997         997      the_oilmann  ...       []  corruption
998         998     johngithongo  ...       []  corruption
999         999         Bilykemb  ...       []  corruption

[5 rows x 12 columns]

In [ ]:
murder.tail()

     Unnamed: 0             user  ... hashtags   label
995         995      jkoskey2015  ...       []  murder
996         996     ManuelKKrazy  ...       []  murder
997         997  iwilliamkennedy  ...       []  murder
998         998    nelsonkimathi  ...       []  murder
999         999    nelsonkimathi  ...       []  murder

[5 rows x 12 columns]

In [ ]:
#checking the number of rows and columns in each dataset
print('Police:', police_brutality.shape,'\n') 
print('Corruption:',corruption.shape, '\n')
print('Murder:', murder.shape)

Police: (1000, 12)

Corruption: (1000, 12)

Murder: (1000, 12)

In [ ]:
murder.columns

Index(['Unnamed: 0', 'user', 'tweet', 'location', 'description',
       'friends_count', 'followers_count', 'statuses_count', 'created_at',
       'retweet_count', 'hashtags', 'label'],
      dtype='object')

In [ ]:
police_brutality.columns

Index(['Unnamed: 0', 'user', 'tweet', 'location', 'description',
       'friends_count', 'followers_count', 'statuses_count', 'created_at',
       'retweet_count', 'hashtags', 'label'],
      dtype='object')

In [ ]:
corruption.columns

Index(['Unnamed: 0', 'user', 'tweet', 'location', 'description',
       'friends_count', 'followers_count', 'statuses_count', 'created_at',
       'retweet_count', 'hashtags', 'label'],
      dtype='object')

Concatenating the files.

In [ ]:
frames = [police_brutality, murder, corruption]
  
result = pd.concat(frames)
display(result)

     Unnamed: 0             user  ... hashtags             label
0             0   MuchangiNyaga5  ...       []  police brutality
1             1      jmkariuki24  ...       []  police brutality
2             2   FlavionsKimani  ...       []  police brutality
3             3    nyamu_dickson  ...       []  police brutality
4             4        prings_ke  ...       []  police brutality
..          ...              ...  ...      ...               ...
995         995  ErickOtienoMang  ...       []        corruption
996         996          jeoges2  ...       []        corruption
997         997      the_oilmann  ...       []        corruption
998         998     johngithongo  ...       []        corruption
999         999         Bilykemb  ...       []        corruption

[3000 rows x 12 columns]

In [ ]:
result.to_csv('crime-k.csv', index=False)



## 3. Checking the Data

In [ ]:
#loading our concatenated data

crime = pd.read_csv('/content/crime-k.csv')
crime.head()

   Unnamed: 0            user  ... hashtags             label
0           0  MuchangiNyaga5  ...       []  police brutality
1           1     jmkariuki24  ...       []  police brutality
2           2  FlavionsKimani  ...       []  police brutality
3           3   nyamu_dickson  ...       []  police brutality
4           4       prings_ke  ...       []  police brutality

[5 rows x 12 columns]

In [ ]:
# Previewing the top of our dataset
# Train dataset
crime.head()

   Unnamed: 0            user  ... hashtags             label
0           0  MuchangiNyaga5  ...       []  police brutality
1           1     jmkariuki24  ...       []  police brutality
2           2  FlavionsKimani  ...       []  police brutality
3           3   nyamu_dickson  ...       []  police brutality
4           4       prings_ke  ...       []  police brutality

[5 rows x 12 columns]

In [ ]:
#train dataset bottom
crime.tail()

      Unnamed: 0             user  ... hashtags       label
2995         995  ErickOtienoMang  ...       []  corruption
2996         996          jeoges2  ...       []  corruption
2997         997      the_oilmann  ...       []  corruption
2998         998     johngithongo  ...       []  corruption
2999         999         Bilykemb  ...       []  corruption

[5 rows x 12 columns]

In [ ]:
# Checking the number of rows
crime.shape

(3000, 12)

In [ ]:
#checking the datatypes
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       3000 non-null   int64
 1   user             3000 non-null   object
 2   tweet            3000 non-null   object
 3   location         2974 non-null   object
 4   description      2816 non-null   object
 5   friends_count    3000 non-null   int64
 6   followers_count  3000 non-null   int64
 7   statuses_count   3000 non-null   int64
 8   created_at       3000 non-null   object
 9   retweet_count    3000 non-null   int64
 10  hashtags         3000 non-null   object
 11  label            3000 non-null   object
dtypes: int64(5), object(7)
memory usage: 281.4+ KB

## 4. Tidying the Dataset

In [ ]:
# Dealing with the Missing Data
#
crime.isnull().sum()

Unnamed: 0           0
user                 0
tweet                0
location            26
description        184
friends_count        0
followers_count      0
statuses_count       0
created_at           0
retweet_count        0
hashtags             0
label                0
dtype: int64

In [ ]:
crime.duplicated().sum()

0

Deleting unwanted columns

In [ ]:
crime.columns

Index(['Unnamed: 0', 'user', 'tweet', 'location', 'description',
       'friends_count', 'followers_count', 'statuses_count', 'created_at',
       'retweet_count', 'hashtags', 'label'],
      dtype='object')

In [ ]:
crime.drop(['Unnamed: 0', 'user', 'friends_count', 'followers_count', 'statuses_count', 'retweet_count'], axis=1, inplace=True)

In [ ]:
crime.drop('description', axis=1, inplace=True)

In [ ]:
crime.shape

(3000, 5)

In [ ]:
crime.head(2)

                                               tweet  ...             label
0  @MathareSJustice @wanjirunjira @UhaiWetu @gach...  ...  police brutality
1  It is not easy being a young person in this co...  ...  police brutality

[2 rows x 5 columns]

In [ ]:
# extracting the last names from the "location" column.
#crime['town name'] = crime['location'].str.split(',|\\.',expand = True)[2] #expand set to True to return a df instead of series
#crime['town name'] = crime['town name'].str.strip() #strip leading and trailing white spaces
#crime['country name'] = crime['location'].str.split(',|\\.',expand = True)[0] #expand set to True to return a df instead of series
#crime['country name'] = crime['country name'].str.strip()
#crime['title']

In [ ]:
#removing the URL links
example="New competition launched :https://www.kaggle.com/c/nlp-getting-started"

In [ ]:
def remove_URL(text):
    url = re.compile(r'https?://\S+|www\.\S+')
    return url.sub(r'',text)

remove_URL(example)

'New competition launched :'

In [ ]:
crime['tweet']=crime['tweet'].apply(lambda x : remove_URL(x))

In [ ]:
crime.head()

                                               tweet  ...             label
0  @MathareSJustice @wanjirunjira @UhaiWetu @gach...  ...  police brutality
1  It is not easy being a young person in this co...  ...  police brutality
2  You come to voters begging for votes, yet none...  ...  police brutality
3  It would be wise if we have bloggers with cont...  ...  police brutality
4  Before you vote, ask your candidates what they...  ...  police brutality

[5 rows x 5 columns]

In [ ]:
#removing all the panctuation marks in 'text' column
def remove_punct(text):
    table=str.maketrans('','',string.punctuation)
    return text.translate(table)

example="I am a #king"
print(remove_punct(example))

I am a king

In [ ]:
crime['tweet']=crime['tweet'].apply(lambda x : remove_punct(x))

In [ ]:
crime.head()

                                               tweet  ...             label
0  MathareSJustice wanjirunjira UhaiWetu gacheke2...  ...  police brutality
1  It is not easy being a young person in this co...  ...  police brutality
2  You come to voters begging for votes yet none ...  ...  police brutality
3  It would be wise if we have bloggers with cont...  ...  police brutality
4  Before you vote ask your candidates what theyl...  ...  police brutality

[5 rows x 5 columns]

In [ ]:
#putting the tweet characters to lower case
crime['tweet'] = crime['tweet'].map(lambda x: x.lower())

In [ ]:
crime.head()

                                               tweet  ...             label
0  matharesjustice wanjirunjira uhaiwetu gacheke2...  ...  police brutality
1  it is not easy being a young person in this co...  ...  police brutality
2  you come to voters begging for votes yet none ...  ...  police brutality
3  it would be wise if we have bloggers with cont...  ...  police brutality
4  before you vote ask your candidates what theyl...  ...  police brutality

[5 rows x 5 columns]

In [ ]:
#function to remove emojis
def remove_emoji(text):
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

remove_emoji("Omg another Earthquake 😔😔")

'Omg another Earthquake '

In [ ]:
#removing the emojis in text column if any.
crime['tweet']=crime['tweet'].apply(lambda x: remove_emoji(x))

In [ ]:
# STOPWORD REMOVAL
def stopword(string):
    a= [i for i in string.split() if i not in stopwords.words('english')]
    return ' '.join(a)
#LEMMATIZATION
# Initialize the lemmatizer
wl = WordNetLemmatizer()
# This is a helper function to map NTLK position tags
def get_wordnet_pos(tag):
    if tag.startswith('J'):
        return wordnet.ADJ
    elif tag.startswith('V'):
        return wordnet.VERB
    elif tag.startswith('N'):
        return wordnet.NOUN
    elif tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN
# Tokenize the sentence
def lemmatizer(string):
    word_pos_tags = nltk.pos_tag(word_tokenize(string)) # Get position tags
    a=[wl.lemmatize(tag[0], get_wordnet_pos(tag[1])) for idx, tag in enumerate(word_pos_tags)] # Map the position tag and lemmatize the word/token
    return " ".join(a)

In [ ]:
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
#convert to lowercase, strip and remove punctuations
def preprocess(text):
    text = text.lower() 
    text=text.strip()  
    text=re.compile('<.*?>').sub('', text) 
    text = re.compile('[%s]' % re.escape(string.punctuation)).sub(' ', text)  
    text = re.sub('\s+', ' ', text)  
    text = re.sub(r'\[[0-9]*\]',' ',text) 
    text=re.sub(r'[^\w\s]', '', str(text).lower().strip())
    text = re.sub(r'\d',' ',text) 
    text = re.sub(r'\s+',' ',text) 
    return text

In [ ]:
#removing the stop words. 
def finalpreprocess(string):
    return lemmatizer(stopword(preprocess(string)))
crime['clean_text'] = crime['tweet'].apply(lambda x: finalpreprocess(x))
crime.head()

                                               tweet  ...                                         clean_text
0  matharesjustice wanjirunjira uhaiwetu gacheke2...  ...  matharesjustice wanjirunjira uhaiwetu gacheke ...
1  it is not easy being a young person in this co...  ...  easy young person country survive kcse kuccps ...
2  you come to voters begging for votes yet none ...  ...  come voter beg vote yet none yall politician c...
3  it would be wise if we have bloggers with cont...  ...  would wise blogger content drive agenda succes...
4  before you vote ask your candidates what theyl...  ...  vote ask candidate theyll police brutality tak...

[5 rows x 6 columns]

In [ ]:
# Tokenizing the messages into single words using nltk. 

# Applying the tokenization
# 
crime['clean_text']= crime['clean_text'].apply(nltk.word_tokenize)

In [ ]:
crime.head(2)

                                               tweet  ...                                         clean_text
0  matharesjustice wanjirunjira uhaiwetu gacheke2...  ...  [matharesjustice, wanjirunjira, uhaiwetu, gach...
1  it is not easy being a young person in this co...  ...  [easy, young, person, country, survive, kcse, ...

[2 rows x 6 columns]

In [ ]:
#saving the tokenized file
crime.to_csv('crimetokenized.csv')

In [ ]:
#SPLITTING THE TRAINING DATASET INTO TRAINING AND VALIDATION

X_train, X_val, y_train, y_val = train_test_split(crime["clean_text"], 
                                                  crime['label'],
                                                  test_size=0.33,
                                                  shuffle=True)
#X_train_tok= [nltk.word_tokenize(i) for i in X_train]  #for word2vec # X_train

In [204]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
vectors = vectorizer.fit_transform(crime['clean_text'])
print(vectors)

  (0, 3598)	1
  (0, 6231)	1
  (0, 5966)	1
  (0, 2190)	1
  (0, 234)	1
  (0, 4496)	1
  (0, 3111)	1
  (0, 533)	1
  (0, 3664)	1
  (0, 2087)	1
  (1, 1662)	1
  (1, 6443)	1
  (1, 4421)	1
  (1, 1195)	1
  (1, 5601)	1
  (1, 3086)	1
  (1, 3259)	1
  (1, 516)	1
  (1, 2951)	1
  (1, 4545)	1
  (2, 4496)	1
  (2, 1006)	1
  (2, 6181)	1
  (2, 529)	1
  (2, 6180)	1
  :	:
  (2998, 3111)	1
  (2998, 2473)	1
  (2998, 1165)	1
  (2998, 241)	1
  (2998, 1179)	1
  (2998, 746)	1
  (2998, 5709)	1
  (2998, 2782)	1
  (2998, 3862)	1
  (2998, 394)	1
  (2998, 6462)	1
  (2998, 3980)	1
  (2998, 1709)	1
  (2999, 5641)	1
  (2999, 5783)	1
  (2999, 3389)	1
  (2999, 5510)	1
  (2999, 6096)	1
  (2999, 5309)	1
  (2999, 1322)	1
  (2999, 2142)	1
  (2999, 4912)	1
  (2999, 293)	1
  (2999, 1573)	1
  (2999, 3993)	1

Encoding the label column

In [201]:
label_col = ['label']

for col in label_col:

  label_enc= {'label': {'police brutality': 0, 'murder':1, 'corruption':2}}

crime.replace(label_enc, inplace=True)

crime['label'].astype(int)

0       0
1       0
2       0
3       0
4       0
       ..
2995    2
2996    2
2997    2
2998    2
2999    2
Name: label, Length: 3000, dtype: int64

In [205]:
crime.to_csv('crime-vectorised.csv')